<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"> <%= @plants.length %> Plants </h1>
    <h2> <%= @plants.select { |plant| plant.status.id == 1 }.length %> Alive </h2>
    <h2> <%= @plants.select { |plant| plant.status.id == 2 }.length %> Dead </h2>
    <%= link_to 'New plant', new_plant_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <table class="table-auto border-spacing-4 border-separate border border-slate-900">
    <thead>
    <tr>
      <th>Name</th>
      <th>Family</th>
      <th>Genus</th>
      <th>Status</th>
      <th>Since</th>
      <th>URL</th>
      <th>Search</th>
    </tr>
    </thead>
    <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td class="border border-slate-900"><%= plant.name %></td>
        <td class="border border-slate-900"><%= plant.family.name %></td>
        <td class="border border-slate-900"><%= plant.genus.name %></td>
        <td class="border border-slate-900"><%= plant.status.name %></td>
        <td class="border border-slate-900"><%= plant.year_acquired %></td>
        <td class="border border-slate-900">
          <a href="<%= plant_url(plant) %>">Show</a>
        </td>
        <td class="border border-slate-900">
          <a href="<%= "https://www.google.com/search?q=#{plant.name}" %>" target="_blank">
            Google
          </a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
