<ul class="list-disc">
  <li><a href=<%= url_for(action: :index, controller: :plants) %>>Plants</a></li>
  <li><a href=<%= url_for(action: :index, controller: :genera) %>>Genera</a></li>
  <li><a href=<%= url_for(action: :index, controller: :families) %>>Families</a></li>
  <li><a href=<%= url_for(action: :index, controller: :sunlight_hours) %>>Sunlight Hours</a></li>
  <li><a href=<%= url_for(action: :index, controller: :watertrackers) %>>Water tracker</a></li>
  <li><a href=<%= url_for(action: :index, controller: :fertilizer_trackers) %>>Fertilizer tracker</a></li>
  <li><a href=<%= url_for(action: :index, controller: :wishlists) %>>Wishlist</a></li>
</ul>